/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navbar */

nav {
    font-family: 'Raleway', sans-serif;
    /* font-weight: 300; */
    background-color: #000;
    text-transform: uppercase;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: 230;
    letter-spacing: 1.3px;
    color: #fff;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 250;
    letter-spacing: 1px;
    color: #fff;
}

.nav-link i {
    margin-left: 5px;
}

/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* Navbar */
    .nav-link {
        font-size: 0.88rem;
        font-weight: 250;
        letter-spacing: 1px;
        color: #fff;
    }
}