/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/******************* General Styles */

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: var(--black);
}

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 0 15px; */
    margin-top: 50px;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
  }

/******************* Colors */

:root {
    --white: #fafafa;
    --black: #020202;
    --purple: #28003D;
  }

.bg-black {
    background-color: var(--black);
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
    color: var(--black);
}


/******************* Navbar */

nav {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    text-transform: uppercase;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: 230;
    letter-spacing: 1.3px;
    color: #fff;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 250;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
}

.nav-link i {
    margin-left: 5px;
}

/* Navbar icons */
/* Container for positioning */
.nav-label-wrapper {
    position: relative;
    display: inline-block;
    min-width: 40px;
    text-align: center;
}

.nav-icon-lg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    opacity: 0;
    visibility: hidden;
}

/* Transition for text and icon */
.nav-text,
.nav-icon-lg {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
    color: #fff;
}

/******************* Home Section */

.home-image {
    background-image: url('../../assets/images/home-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.intro-text {
    color: var(--white);
    height: 60%;
}

.code-output {
    height: 60%;
    color: #0f0;
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    white-space: pre-wrap;
    border-radius: 10px;
    overflow-y: auto;
}

#codeText {
    white-space: pre-wrap;
    display: inline;
}

#typedText {
    display: inline;
}

.caret {
    display: inline;
    animation: blink 1s infinite;
    user-select: none;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.home-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-btn {
    margin: 0 20px;
}

/******************* Media Queries */

/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Navbar */
    .nav-link {
        font-size: 0.88rem;
        font-weight: 300;
        letter-spacing: 1px;
        color: #fff;
    }

    /* Navbar icons */
    /* Show/hide logic for desktop */
    .nav-link:hover .nav-text {
        opacity: 0;
        visibility: hidden;
    }

    .nav-link:hover .nav-icon-lg {
        opacity: 1;
        visibility: visible;
        font-size: 1.33rem;
    }
}

@media screen and (max-width: 767.98px) {
    .padding-sm {
        padding: 0 30px;
    }
}